<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="trelloWorkflow">
        <classes>
            <!-- <class name="POST_test"/> -->
            <class name="trelloWorkflow.TestCreateBoard"/>
            <class name="trelloWorkflow.TestCreateLabelsAutomated"/>
            <class name="trelloWorkflow.TestGetBoardByID"/>
            <class name="trelloWorkflow.TestUpdateBoard"/>
            <class name="trelloWorkflow.TestDeleteBoard"/>
            <class name="trelloWorkflow.okHttpAPIManagment.TestOkHttpApiClient"/>
            <class name="trelloWorkflow.retrofitAPIManagment.RetrofitTests.TestRetrofitApiClient"/>
        </classes>
    </test> <!-- trelloWorkflow -->
</suite> <!-- Suite -->
